<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <script src="lessons.js"></script>
    <title>After School Club</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
</head>
<style>
    .fix{
        width: 100%;
        height: 100%;
    }
</style>
<body>
    <div id = 'app' class="container">
        <header>
            <h1 v-text="sitename"></h1>

<div class="container-fluid"> 
    <div class="row">
    <div class="col-md-5">
    </div>
    <div class="col-md-6">

            <button :disabled ="cart.length === 0" class="btn btn-success btn-lg"  v-on:click="showCheckout" >
                {{cartItemCount}}
                <span class="fa-solid fa-cart-shopping"></span> Checkout                
            </button>
    </div>
</div>
        </div>
        </header>
        
        <main class="fix">
            <div v-if="showlessons" class="container-fluid">
                <div class="row ">
                    <div v-for="club in club" class="col-md-4 p-3  mt-4 border border-success">  
                        <figure>
                            <img v-bind:src="club.image" width="300" class="mt-3" height="200">
                        </figure>
                        <h2 v-text="club.subject"></h2>
                        <p> Location :{{club.location}} </p>
                        <p>Description : {{club.detail}}</p>
                        <p>Price : {{club.price}}</p>
                        <p>Spaces : {{club.availablespace}}</p>
                        <button v-on:click="addToCart(club)" :disabled="club.availablespace < 1" class="btn btn-success"> <span class="fa-solid fa-cart-shopping">Add to cart</button>                    
                    </div>
                </div>
             
            </div>
            <div v-else><h2>Checkout</h2>
                
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                    <label for="FName" class="form-label"> First Name <input v-model="order.firstName" id="FName" class="form-control"> </label>
                    <label for="LName" class="form-label"> Last Name <input v-model="order.lastName" id="LName" class="form-control"> </label>
                    <label for="Phone"   class="form-label"> Phone Number <input v-model="order.number" type="number" min="0" id="phone" class="form-control" > </label>
                    <label for="Address" class="form-label"> Address <input v-model="order.address" id="address" class="form-control"> </label>
                    </div>
                             
                    </div>
                    
                </div>
                

                </option> 
                    </select>
                         

                    </p>
                    <h2>Order Information</h2>
                    <p>First Name: {{order.firstName}}</p>
                    <p>Last Name:  {{order.lastName}}</p>
                    <p>Address:    {{order.address}}</p>
                    <p>Phone number:{{order.number}}</p>
                    
                </p>

                <button v-on:click="submitForm"> Place Order </button>
            </div>
        </main>
            


        
    </div>


    <script type="text/javascript">
        var club = new Vue({

            el : '#app',
            
            data: {
                sitename: "After School Club",
                showlessons: true,
               order: {
                    firstName: '',
                    lastName: '',
                    phonenumber: '',
                    address: '',
                        },
                
        club:lessons,
            
            cart:[]
            
            },
            methods: {
    
                addToCart(club)
                {
                    this.cart.push(club)
                    club.availablespace -=1
                    console.log(this.cart)
                },
                showCheckout(){
                    this.showlessons = this.showlessons ? false : true;
                },
                submitForm () {
                alert('Order accepted')

            }
            },
            computed: { //the computed property object
                cartItemCount: function(){ //the property name
                    //its value is calculated when it is called
                return this.cart.length || '';
                },
                canAddtoCart: function() {
                return this.club.availablespace > this.cartItemCount;
   
            
            }            
            
            },
            
        })
    </script>
    
</body>
</html>